@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins&family=Questrial&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.login {
  width: 100%;
  height: 100vh;
}

.form {
  display: grid;
  width: 30%;
  padding: 50px 0;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
}

@media screen and (max-width: 600px) {
  .form {
    width: 90%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
  .form {
    width: 50%;
  }
}

@media screen and (min-width: 1001px) and (max-width: 1300px) {
  .form {
    width: 40%;
  }
}

.form h2 {
  margin-bottom: 40px;
  text-align: center;
}

.form input {
  width: 90%;
  margin: 10px auto;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #dfdfdf;
  padding: 0 20px;
  font-size: 16px;
}

.form .password {
  margin-bottom: 10px;
}

.form button {
  width: 90%;
  margin: 5px auto;
  height: 50px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #10abd2;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background-color: #119bbe;
}

.form span {
  color: red;
  text-align: center;
  margin-bottom: 30px;
}

.form p {
  text-align: center;
  margin: 70px 0 20px 0;
  font-size: 13px;
}

.logos {
  display: flex;
  margin: auto;
}

.logos img {
  width: 40px;
  margin: 0 20px;
  cursor: pointer;
}

.logout {
  background: #93a3a7;
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-left: 20px;
}

@media screen and (max-width: 500px) {
  .input {
    width: 90%;
  }
}
